:host {
    width: 350px;
    height: fit-content;
}

.fabs {
    // Align to the bottom right corner of the card
    position: absolute;
    bottom: 0;
    right: 0;
    gap: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 0.5rem;
}