<mat-card>
    <mat-card-header>
        <mat-card-title class="title">
            {{ item.nom }}
            <b>{{ item.prix }} $</b>
        </mat-card-title>
        <mat-card-subtitle>{{ item.description }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <img [src]="item.image" [alt]="item.description" />
    </mat-card-content>
    @if (this.mouseOver) {
    <div class="fabs">
        @if (this.isDansCommande) {
        <button mat-fab color="warn" (click)="removeFromCart()">
            <mat-icon>remove</mat-icon>
        </button>
        }
        <button mat-mini-fab color="accent" (click)="addToCart()">
            <mat-icon>add</mat-icon>
        </button>
    </div>
    }
</mat-card>