:host {
    // Make the header sticky
    position: sticky;
    top: 0;
    z-index: 1000;
}

.spacer {
    flex: 1;
}

.menu {
    display: flex;
    gap: 1rem;
}

.mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    width: 100%;
    padding: 1rem 0;
    height: fit-content;
    opacity: 0.92;
    backdrop-filter: blur(10px);
    position: absolute;
    top: 56px;
    left: 0;
    z-index: 100;
}