<h1>Se connecter comme employer</h1>
<form [formGroup]="this.loginForm" (ngSubmit)="this.onSubmit()" novalisate>
    <mat-form-field appearance="outline">
        <mat-label>Entrer votre identifiant d'employer</mat-label>
        <input matInput type="username" required placeholder="Identidiant" formControlName="employeId" autocomplete="username"
            required>
        <mat-error *ngIf="form['employeId'].errors?.['required']">Ce champ est obligatoire</mat-error>
        <mat-error *ngIf="form['employeId'].errors?.['pattern']">Votre identifiant doit être alphanumérique</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Entrer votre mot de passe</mat-label>
        <input matInput type="password" required placeholder="Mot de passe" formControlName="password"
            autocomplete="current-password" required>
        <mat-error *ngIf="form['password'].errors?.['required']">Ce champ est obligatoire</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Se connecter</button>
</form>