$mobile-menu-height: var(--mat-toolbar-standard-height);
@media screen and (max-width: 600px) {
    $mobile-menu-height: var(--mat-toolbar-mobile-height);
}

$page-height: calc(100vh - $mobile-menu-height);