<div>
    <!-- Unpack item and quantity from items -->
    @for (pack of this.items; track pack.item.id;) {
        <mat-icon>{{ this.getIcon(pack.item.categorie) }}</mat-icon>
        <p>{{ pack.item.nom }} : {{ pack.quantite }}</p>

    }
    @empty {
        <p>Le panier est vide</p>
    }
</div>
<div class="buttons">
    <button mat-raised-button color="primary" (click)="commander()" [disabled]="this.isVide">Commander</button>
    <button mat-raised-button color="warn" (click)="viderPanier()" [disabled]="this.isVide">Vider le panier</button>
</div>