:host {
    width: 300px;
    min-height: 300px;
    height: fit-content;
}

.togglebox {
    position: absolute;
    bottom: 0;
    right: 0;
    gap: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 0.5rem;
}