@import "src/styles/constant.scss";

:host {
    min-height: calc($page-height - 72px);
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

mat-stepper {
    width: 100%;
    min-height: 100%;
    flex-grow: 1;

    button {
        max-width: 150px;
    }

    .buttons {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
    }
}

.step {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    min-height: calc($page-height - 72px - 24px); // 72px for the stepper header and 24px for the stepper content padding

    mat-list {
        width: 100%;
        max-width: 400px;
    }
}

.mat-mdc-form-field {
    margin-top: 16px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    max-width: 400px;
}

form mat-form-field {
    width: 90%;
}

// Hide mat error message except the first one
form mat-error:not(:first-of-type) {
    display: none;
}

// Stick mobile command menu to the bottom
#mobileCommandeMenu {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
    justify-content: center;
}


// Media
@media (max-width: 600px) {
    :host {
        flex-direction: column;
    }

    mat-stepper {
        margin-bottom: 56px;
    }

    app-panier {
        padding: 1rem;
        height: calc($page-height - 56px - 2rem);
        width: calc(100% - 2rem);
        display: flex;
        // Le fixer à droite pour que même si on scroll, il reste à droite
        position: sticky;
        top: $mobile-menu-height;
        right: 0;
    }
    
    mat-toolbar {
        justify-content: center;
        mat-form-field {
            min-width: 50%;
        }
    }
}