@import "src/styles/constant.scss";

:host {
    display: block;
    height: $page-height;
    width: 100vw;
}

nav {
    max-width: 100vw;
}

mat-tab-nav-panel {
    width: 100vw;
    min-height: 100%;
}