@import "src/styles/constant.scss";

:host {
    display: block;
    min-height: $page-height;
    width: 100vw;
    max-width: 100%;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
}