form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: calc(100% - 4rem); 
    max-width: 400px;
    padding: 2rem;
}

form mat-form-field {
    width: 90%;
}

// Hide mat error message except the first one
form mat-error:not(:first-of-type) {
    display: none;
}
