<h2 mat-dialog-title>Changer votre mot de passe</h2>
<mat-dialog-content>
    <form [formGroup]="this.changePasswordForm" novalidate>
        <mat-form-field appearance="outline">
            <mat-label>Entrer votre ancien mot de passe</mat-label>
            <input matInput type="password" required placeholder="Ancien mot de passe" formControlName="oldPassword"
                autocomplete="current-password" required autofocus>
            <mat-error *ngIf="form['oldPassword'].errors?.['required']">Ce champ est obligatoire</mat-error>
            <mat-error *ngIf="form['oldPassword'].errors?.['wrongPassword']">Le mot de passe est incorrect</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Entrer votre nouveau mot de passe</mat-label>
            <input matInput type="password" required placeholder="Mot de passe" formControlName="newPassword"
                autocomplete="new-password" required>
            <mat-error *ngIf="form['newPassword'].errors?.['required']">Ce champ est obligatoire</mat-error>
            <mat-error *ngIf="form['newPassword'].errors?.['minlength']">Le mot de passe doit contenir au moins 6
                caractères</mat-error>
            <mat-error *ngIf="form['newPassword'].errors?.['maxlength']">Le mot de passe doit contenir au plus 20
                caractères</mat-error>
            <mat-error *ngIf="form['newPassword'].errors?.['pattern']">Le mot de passe doit contenir au moins une
                lettre majuscule, une lettre minuscule et un chiffre</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Confirmer votre mot de passe</mat-label>
            <input matInput type="password" required placeholder="Confirmer le mot de passe"
                formControlName="confirmPassword" autocomplete="current-password" required autofocus>
            <mat-error *ngIf="form['confirmPassword'].errors?.['required']">Ce champ est
                obligatoire</mat-error>
            <mat-error *ngIf="form['confirmPassword'].errors?.['mismatch']">Les mots de passe ne correspondent
            </mat-error>
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-stroked-button color="warn" mat-dialog-close>Annuler</button>
    <button mat-stroked-button color="primary" (click)="this.changePassword()">Changer</button>
</mat-dialog-actions>