@import "src/styles/constant.scss";

:host {
    min-height: $page-height;
}

mat-toolbar {
    // Space elements 
    gap: 1.5rem;
    justify-content: end;

    mat-form-field {
        width: fit-content;
        margin: .5rem 0;
        min-width: 600px;
        max-width: 100%;
    }
}

.page  {
    min-height: calc($page-height - 56px - 56px);
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    padding: 1.5rem;
}

.menu {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.category-items {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
}

.panier {
    display: flex;
    min-width: 400px;
    max-width: 50%;
    // Le fixer à droite pour que même si on scroll, il reste à droite
    position: sticky;
    top: $mobile-menu-height;
    right: 0;
    flex-direction: column;
    
    app-panier {
        min-height: calc($page-height - 56px - 3rem);
        width: 100%;
    }
}

// Stick mobile command menu to the bottom
#mobileCommandeMenu {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
    justify-content: space-between;
}

// Medium-large screen
@media screen and (max-width: 1024px) {
    .page {
        flex-direction: column;
    }
    
    app-panier {
        width: calc(100vw - 3rem);
        min-height: calc($page-height - 3rem);
    }

    mat-toolbar {
        justify-content: center;
        mat-form-field {
            min-width: 50%;
        }
    }
    
}