@import "src/styles/constant.scss";

:host {
    min-height: $page-height;
}

mat-toolbar {
    // Space elements 
    gap: 1.5rem;
}

.page  {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    padding: 1.5rem;
}

.menu {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.category-items {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
}

.panier {
    display: flex;
    min-width: 300px;
    max-width: 50%;
    // Le fixer à droite pour que même si on scroll, il reste à droite
    position: sticky;
    top: $mobile-menu-height;
    right: 0;
    flex-direction: column;
}

// Stick mobile command menu to the bottom
#mobileCommandeMenu {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
    justify-content: space-between;
}

// Medium-large screen
@media screen and (max-width: 1024px) {
    .panier {
        min-width: 200px;
    }
}