<mat-toolbar style="background-color: transparent;" class="mat-elevation-z2">
    <span>Votre commande</span>
    <button mat-stroked-button color="primary" (click)="open()">
        <span>Choisissez un type de commande</span>
        <mat-icon iconPositionEnd>chevron_right</mat-icon>
    </button>
</mat-toolbar>
<div class="menu">
    <!-- For every category of the menu -->
    @for (categorie of this.categories; track $index) {
        <div class="categorie">
            <h2>{{ categorie }}</h2>
            <div class="categorie-items">
            <!-- Show the category items -->
            @for (item of this.getItems(categorie); track item.id) {
                <app-item [item]="item" (click)="addItem(item)"></app-item>
            }
            </div>
        </div>
    }
</div>
