:host {
    width: 300px;
    min-height: 300px;
    height: fit-content;
}

mat-card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;
    // Make items take the full width
    align-items: stretch;

}

mat-card-subtitle {
    display: block;
    max-width: calc(300px - 2rem); // 2rem = 2 * 1rem (padding on the sides
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

mat-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

mat-card-title {
    min-width: calc(300px - 2rem);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}


img {
    width: 100%;
    height: 150px;
    overflow: hidden;
    object-fit: cover;
    border-radius: 15px;
}